{{#each movie}}
  <div class="col-md-4 userMovie">
    <div class="img-wrap">
      <span id="delete#{{key}}" class="close mdi-action-highlight-remove"></span>
      <img src="{{Poster}}" data-id="123" alt="{{Title}}">
    </div>
    <h3>{{Title}}</h3>
    <h6>{{Actors}}</h6>
    <h6>{{Released}}</h6>
    <button id="imdbID#{{imdbID}}" class="btn btn-success">Add Movie</button>
    <span class="star-rating">
      <input type="radio" name="rating" value="1" checked="false"><i></i>
      <input type="radio" name="rating" value="2" checked="false"><i></i>
      <input type="radio" name="rating" value="3" checked="false"><i></i>
      <input type="radio" name="rating" value="4" checked="false"><i></i>
      <input type="radio" name="rating" value="5" checked="false"><i></i>
    </span>
    <script type="text/javascript" >
      $(".star-rating").on("click", function(e) {
        console.log("got a click");
        console.log("this= ",this);
        $( "this" ).html("checked='checked'");
        console.log("Checked= ",this.checked);
        // main.rate(value);
      });
    </script>
  </div>
{{/each}}