{{#each movie}}
{{#if active}}
<div class="col-md-3 thisMovie">
  <div class="well well-sm singleMovie">
    <div class="row row2-1">
      <h3 class="col-md-12">{{Title}} ({{Year}})</h3>
    </div>
    <div class="row row2-2">
      <div class="imgWrap col-xs-4 col-xs-offset-4">
        <button type="button" class="close deleteButton" imdbid={{imdbID}} aria-label="Close">&times;</button>
        <img src={{Poster}} alt="{{Title}} poster" class="img-responsive">
      </div>
      <div class="col-xs-4 emptySpace"></div>
    </div>
    <div class="row row2-3">
      <div class="buttonWrap col-md-12">
        {{#if savedToFirebase}}
        {{else}}
          <button class="addMovieButton btn btn-primary" imdbid={{imdbID}} savedToFirebase={{savedToFirebase}}>Add Movie</button>
        {{/if}}
        {{#if watched}}
          <button class="watchedButton btn btn-success" id="watchedButton#{{imdbID}}" imdbid={{imdbID}} watched={{watched}}>Watched</button>
        {{else}}
          <button class="watchedButton btn btn-danger" id="watchedButton#{{imdbID}}" imdbid={{imdbID}} watched={{watched}}>Not Watched</button>
        {{/if}}
      </div>
    </div>
    <div class="row row2-4">
      <div class="starWrap col-md-12">
        <input type="number" class="starRating" imdbid={{imdbID}} data-stars=10 value={{rating}}>
      </div>
    </div>
  </div>
</div>
{{/if}}
{{/each}}