{{log "HBS"}}
{{#each movie}}
  <div class="row" id="theResults">
{{!--     <img class="col-xs-4" src="{{Poster}}" alt="{{Title}}">
 --}}    <span class="col-xs-8">{{Title}} ({{Year}})</span>
    <button type="add" id="addMovie">Add movie</button>
    <div hidden id="imdbID">

    </div>
  </div>
{{/each}}